<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    <h1>Hello</h1>

    <h3>Groups</h3>

    <ul>
	{{#each groups}}
        <li>{{this.name}}</li>
	{{/each}}
    </ul>

    <ul>
	{{#eachInMap groupTimes}}
	<li>key:{{key}} value: {{value.time}}</li>
	{{/eachInMap}}
    </ul>

</body>
</html>
